<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ILMerge" version="3.0.29" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.Common" version="10.0.40219.1" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.WinForms" version="10.0.40219.1" targetFramework="net45" />
  <package id="PDFsharp" version="1.51.5185-beta" targetFramework="net45" />
</packages>